:root {
    --headerColor: #ffffff;
    --headerAndFooterBackground: url(resources/img/blackNoiseTexture_303841.png) #303841;
    --headerAndFooterButtonColor: #ffffff;
    --headerAndFooterButtonBackground: #2a67a5;
    --headerAndFooterButtonBorderColor: #1a2025;
    --headerImageFilter: invert(1);

    --bodyBackground: url(resources/img/darkBlueNoiseTexture_2a67a5.png) #2a67a5;
    --searchInputColor: #000000;
    --searchFormBackground: #f0f0ff;
    --tabElementBoxShadow: #1b436b;
    --tabButtonColor: #000000;
    --tabButtonInactiveBackground: #afafb6;
    --tabButtonActiveBackground: #f0f0ff;
    --tabImageFilter: invert(0);

    --productTileColor: #000000;
    --productTileBackground: #f0f0ff;

    --paginationColor: #ffffff;
    --paginationActiveColor: #000000;
    --paginationActiveBackground: #f0f0ff;
    --paginationHoverBackground: #afafb6;

    --footerColor: #c4c4c4;
    --footerImageFilter: invert(0.85);
    
    --blueThemeBackground: #30669c;
    --greenThemeBackground: #439758;
    --redThemeBackground: #923535;

    --modalBodyBackground: #f0f0ff;
    --modalBodyHeaderColor: #000000;

    --errorColor: #ff5050;
}

html {
    height: 100%;
    min-width: 715px;
    min-height: 500px;
    overflow: auto;
}

h1 {
    font-size: 35px;
    margin-block-start: 0;
    margin-block-end: 0;
}

header {
    position: sticky;
    padding: 20px 35px;
    color: var(--headerColor);
    background: var(--headerAndFooterBackground);
    display: flex;
}

body {
    height: 100%;
    background: var(--bodyBackground);
    margin: 0px;
    font-size: 20px;
    display: none;
    flex-direction: column;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
    padding: 10px 35px;
    color: var(--footerColor);
    background: var(--headerAndFooterBackground);
    font-size: 20px;
}

.fillRowSpace {
    margin-left: auto;
    margin-right: auto;;
}

button {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
}

header button, footer button {
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    width: 120px;
    border-radius: 5px;
    border: 2px solid var(--headerAndFooterButtonBorderColor);
    font-size: 15px;
    color: var(--headerAndFooterButtonColor);
    background: var(--headerAndFooterButtonBackground);
}

.accountControls {
    display: flex;
}

#loggedInControls {
    display: none;
}

#accountEmail {
    display: flex;
    align-items: center;
    margin-right: 14px;
}

#loginButton {
    margin-right: 14px;
    width: fit-content;
}

#registerButton, #logoutButton {
    width: fit-content;
    margin-right: 0;
}

.accountControls img {
    margin-right: 10px;
    height: 20px;
    filter: var(--headerImageFilter);
}

#themesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#themesLabel {
    margin-right: 10px;
}

.themeButton {
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0 3px;
    border: none;
    border-radius: 100%;
    transition: none;
}

.themeButton.activeTheme {
    height: 22px;
    width: 22px;
    border: 2px solid var(--footerColor);
}

.themeButton#blueTheme {
    background: var(--blueThemeBackground);
}

.themeButton#greenTheme {
    background: var(--greenThemeBackground);
}

.themeButton#redTheme {
    background: var(--redThemeBackground);
}

#audioButton {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 20px;
    margin-left: 0;
    border-radius: 100%;
    align-self: center;
    position: relative;
}

#audioButton img {
    height: 20px;
    filter: var(--footerImageFilter);
}

#audioButton #audioButtonCross {
    width: 100%;
    border-bottom: 2px solid var(--headerAndFooterButtonBorderColor);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    visibility: visible;
}

#audioButton #audioButtonCross.hidden {
    visibility: hidden;
}

@keyframes blink {
    50% {
      opacity: 0;
    }
}

#offlineIndicator {
    padding: 0;
    margin-right: 20px;
    margin-left: 0px;
    border-radius: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    animation: blink 1s infinite;
}

#offlineIndicator.hidden {
    visibility: hidden;
}

#offlineIndicator img {
    height: 30px;
    filter: var(--footerImageFilter);
}

#offlineIndicator span {
    align-self: flex-end;
    font-weight: bold;
    font-size: 15px;
}

#aboutButton {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 0;
    margin-left: 20px;
    border-radius: 100%;
    align-self: center;
}

#aboutButton img {
    height: 30px;
    filter: var(--footerImageFilter);
}

/* TABS */
.tabContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
}

.tab {
    display: flex;
    padding: 0 20px;
}

.tabLink {
    min-height: 44px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px 0px 5px 0px;
    color: var(--tabButtonColor);
    background: var(--tabButtonInactiveBackground);
    box-shadow: 5px 5px 5px var(--tabElementBoxShadow);
    font-size: 15px;
}

.tab button.activeTab {
    background: var(--tabButtonActiveBackground);
}

#addProductButton, #sortButton {
    margin-right: 20px;
    border-radius: 5px;
    background: var(--tabButtonActiveBackground);
    box-shadow: 5px 5px 5px var(--tabElementBoxShadow);
    display: none;
    align-items: center;
}

#addProductButton img, #sortButton img {
    margin-right: 10px;
    filter: var(--tabImageFilter);
}

#sortButton span {
    min-width: 110px;
}

#searchForm {
    padding-left: 10px;
    border-radius: 5px;
    background: var(--searchFormBackground);
    box-shadow: 5px 5px 5px var(--tabElementBoxShadow);
    display: none;
    align-items: center;
}

#searchForm:hover, select#themes:hover {
    filter: brightness(90%);
}

#searchForm input {
    height: 60%;
    color: var(--searchInputColor);
    background: inherit;
    border: none;
    font-size: 15px;
    outline: none;
}

#searchForm button {
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: inherit;
    border: none;
    box-shadow: none;
    filter: none;
}

#searchForm img {
    width: 20px;
    height: 21px;
    filter: var(--tabImageFilter);
}

.tabContent {
    display: none;
    margin: 0px;
    border-radius: 0px 5px 0px 5px;
    flex-grow: 1;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.nothingFound {
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    color: var(--headerAndFooterButtonColor);
}

.nothingFound #maintenanceIcon {
    filter: var(--headerImageFilter);
    height: 60%;
    width: 60%;
}

.productTileContainer {
    width: 25%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.productTile {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: var(--productTileColor);
    background: var(--productTileBackground);
    box-shadow: 6px 6px 6px var(--tabElementBoxShadow);
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, -moz-box-shadow 0.3s ease-in-out;
    -ms-transition: -ms-transform 0.3s ease-in-out, -ms-box-shadow 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, -o-box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.productTile:hover:not(.productDetail) {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 10px 10px 10px var(--tabElementBoxShadow);
}

.productTile:not(.productDetail) {
    cursor: pointer;
}

.productTile.productDetail {
    position: absolute;
    z-index: 1;
    inset: 0;
    transition: none;
    font-size: 25px;
    font-weight: normal;
}

.productDetailRow {
    display: flex;
    align-items: center;
    max-width: 400px;
    justify-content: center;
}

.productDetailName {
    font-size: 40px;
    font-weight: bold;
}

.productDetailRow div:nth-child(1) {
    margin-right: 20px;
}

.productDetailRow *:nth-child(2) {
    margin-left: auto;
}

.radioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radioContainer:not(:last-child) {
    margin-right: 10px;
}

.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radioCheckmark {
    margin-right: 3px;
    height: 10px;
    width: 10px;
    background-color: var(--headerAndFooterButtonColor);
    border: 2px solid var(--headerAndFooterButtonBorderColor);
    border-radius: 50%;
}
  
.radioContainer:hover input ~ .radioCheckmark {
    filter: brightness(90%);
}
  
.radioContainer input:checked ~ .radioCheckmark {
    background-color: var(--headerAndFooterButtonBackground);
}

.closeProductDetailButton {
    background: inherit;
    border: none;
    box-shadow: none;
    filter: none;
}

.closeProductDetailButton img {
    width: 35px;
    height: 35px;
}

.orderRow {
    margin-top: 40px;
}

#orderButton {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: flex;
    margin-top: 10px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid var(--headerAndFooterButtonBorderColor);
    font-size: 20px;
    color: var(--headerAndFooterButtonColor);
    background: var(--headerAndFooterButtonBackground);
}

#cantOrderMessage {
    color: var(--errorColor);
    margin-right: 0px;
    font-size: 20px;
}

/* PAGINATION */
#pagination {
    margin-top: auto;
    display: flex;
    align-self: center;
    min-height: 39px;
}

#pagination button {
    color: var(--paginationColor);
    background: transparent;
    margin: 0px 3px;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

#pagination button.active {
    color: var(--paginationActiveColor);
    background: var(--paginationActiveBackground);
    box-shadow: 3px 3px 3px var(--tabElementBoxShadow);
}

#pagination button:hover:not(.active) {
    color: var(--paginationActiveColor);
    background: var(--paginationHoverBackground);
    box-shadow: 3px 3px 3px var(--tabElementBoxShadow);
}

/* MODAL */
.modalDialog {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modalBody {
    background: var(--modalBodyBackground);
    margin: 15% auto;
    padding: 20px;
    border: 2px solid var(--tabElementBoxShadow);
    width: fit-content;
    border-radius: 10px;
}

.modalBody header {
    background: none;
    color: var(--modalBodyHeaderColor);
    padding: 0;
    font-size: 25px;
    font-weight: bold;
}

.modalRow {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.modalRow .label {
    margin-right: 20px;
}

.modalRow *:nth-child(2) {
    margin-left: auto;
}

#modalDialog button {
    background: inherit;
    border: none;
    box-shadow: none;
    filter: none;
}

#modalDialog button img {
    width: 30px;
    height: 30px;
}

#modalDialog .modalRow input {
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: 2px solid transparent;
}

#loginForm input, #registerForm input {
    min-width: 300px;
}

#modalDialog .modalRow input:invalid {
    border-color: var(--errorColor);
}

.zwaInputErrorMessage {
    display: none;
    color: var(--errorColor);
    padding: 0px 5px 5px 5px;
}

#modalDialog .modalRowSubmit {
    justify-content: center;
}

#modalDialog .modalRowSubmit .modalRowSubmitButton {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: flex;
    margin-top: 10px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid var(--headerAndFooterButtonBorderColor);
    font-size: 17px;
    color: var(--headerAndFooterButtonColor);
    background: var(--headerAndFooterButtonBackground);
}

#modalDialog .modalRowSubmit .modalRowSubmitButton:hover {
    filter: brightness(90%);
}

#modalDialog .modalRowSubmit .modalRowSubmitButton img {
    margin-right: 10px;
    height: 20px;
    filter: var(--headerImageFilter);
}

.buttonArea {
    display: flex;
}

.buttonArea  button {
    margin: 0 20px;
}

#ordersTab {
    padding: 0 20px 20px 20px;
}

.orderTileContainer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.orderTileContainer .orderTile {
    margin-top: 20px;
}

.orderTile {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    color: var(--productTileColor);
    background: var(--productTileBackground);
    box-shadow: 6px 6px 6px var(--tabElementBoxShadow);
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    padding: 0px 20px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, -moz-box-shadow 0.3s ease-in-out;
    -ms-transition: -ms-transform 0.3s ease-in-out, -ms-box-shadow 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, -o-box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.orderTile div:first-child {
    margin-right: auto;
}

.orderTile div:not(:first-child) {
    width: 20%;
}

.orderTile div:nth-last-child(2) {
    min-width: 150px;
}

.orderTile div:last-child {
    min-width: 200px;
}

svg {
    stroke: var(--tabButtonColor);
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
    stroke-width: 6;

    width: 34.5px;
    height: 34.5px;
    padding: 5px;
    border-radius: 5px;
    background: var(--tabButtonActiveBackground);
    box-shadow: 5px 5px 5px var(--tabElementBoxShadow);
}